body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff8488, #f8c5b7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
    position: relative;
}

.all{
    background: #e8e8e8;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/vy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: auto;
}

.greeting-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.greeting-card h1 {
    font-size: 1rem;
}

.greeting-card img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.greeting-card img:hover {
  transform: scale(1.2); 
}

.gradient-text span{
  font-weight: bold;
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (max-width: 768px) {
  .greeting-card {
    margin-top: 200px;
    padding: 10px;
  }

  .greeting-card img {
    width: 70px;
    height: 70px;
  }

  .greeting-card h1 {
    text-align: center;
    font-size: 1.4em;
  }
}

/* main */
.lettre {
  width: 1000px;
  height: 500px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Pacifico', cursive;
  border-radius: 20px;
  font-weight: 700;
  background-color: #FDB9B4;
  animation: fadeInUp 5s ease forwards;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.lettre .title{
  font-size: 1.2em;
  margin-top: 30px;
}

.lettre .title span {
  opacity: 0;
  display: inline-block;
  animation: showUp 0.5s ease forwards;
}

.lettre .title h1 span:nth-child(1) { animation-delay: 1s; }
.lettre .title h1 span:nth-child(2) { animation-delay: 1.3s; }
.lettre .title h1 span:nth-child(3) { animation-delay: 1.6s; }
.lettre .title h1 span:nth-child(4) { animation-delay: 1.9s; }
.lettre .title h1 span:nth-child(5) { animation-delay: 2.2s; }
.lettre .title h1 span:nth-child(6) { animation-delay: 2.5s; }

.lettre .description {
  width: 100%;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

}

.lettre .description span {
  opacity: 0;
  animation: showUp 0.5s ease forwards;
}

.lettre .description span:nth-child(1) {
  animation-delay: 3s;
}

.lettre .description span:nth-child(2) {
animation-delay: 4s;
}

.lettre .description span:nth-child(3) {
animation-delay: 5s;
}

.lettre .description span:nth-child(4) {
animation-delay: 6s;
}

@keyframes showUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.lettre .description img{
  width: 50px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: all 0.5s ease;
  animation: showImg 0.5s ease forwards;
  animation-delay: 7s;
}

.emoji {
  position: absolute;
  bottom: -150px;
}

.emoji span {
  position: absolute;
  font-size: 50px;
  animation: flyUp 5s ease-in infinite;
  opacity: 0;
}

@keyframes flyUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
}

@keyframes showImg {
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    width: 0%;
  }
  to {
    width: 700px
  }
}


@media (max-width: 768px) {
  .lettre {
    width: 350px;
    height: 400px;
  }
  .lettre .title{
    font-size: 11px;
  }
  .lettre .description {
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    white-space: normal; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
  }
}
